In [28]:
import pandas as pd

df = pd.read_csv('dataset_for_models.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 59 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_ref                89999 non-null  int64
 1   application_id              89999 non-null  int64
 2   application_hour            89999 non-null  int64
 3   application_day_of_week     89999 non-null  int64
 4   account_open_year           89999 non-null  int64
 5   preferred_contact           89999 non-null  object
 6   referral_code               89999 non-null  object
 7   account_status_code         89999 non-null  object
 8   num_login_sessions          89999 non-null  int64
 9   num_customer_service_calls  89999 non-null  int64
 10  has_mobile_app              89999 non-null  int64
 11  paperless_billing           89999 non-null  int64
 12  default                     89999 non-null  int64
 13  age                         89999 non-null  int64
 14  annual_income               89999 non-null  float64
 15  employment_length           89999 non-null  float64
 16  employment_type             89999 non-null  object
 17  education                   89999 non-null  object
 18  marital_status              89999 non-null  int64
 19  num_dependents              89999 non-null  int64
 20  credit_score                89999 non-null  int64
 21  num_credit_accounts         89999 non-null  int64
 22  oldest_credit_line_age      89999 non-null  float64
 23  oldest_account_age_months   89999 non-null  float64
 24  total_credit_limit          89999 non-null  float64
 25  num_delinquencies_2yrs      89999 non-null  float64
 26  num_inquiries_6mo           89999 non-null  int64
 27  num_public_records          89999 non-null  int64
 28  num_collections             89999 non-null  int64
 29  account_diversity_index     89999 non-null  float64
 30  loan_type                   89999 non-null  object
 31  loan_amount                 89999 non-null  float64
 32  loan_term                   89999 non-null  int64
 33  interest_rate               89999 non-null  float64
 34  loan_purpose                89999 non-null  object
 35  loan_to_value_ratio         89999 non-null  float64
 36  origination_channel         89999 non-null  int64
 37  loan_officer_id             89999 non-null  int64
 38  monthly_income              89999 non-null  float64
 39  existing_monthly_debt       89999 non-null  float64
 40  monthly_payment             89999 non-null  float64
 41  debt_to_income_ratio        89999 non-null  float64
 42  debt_service_ratio          89999 non-null  float64
 43  payment_to_income_ratio     89999 non-null  float64
 44  credit_utilization          89999 non-null  float64
 45  revolving_balance           89999 non-null  float64
 46  credit_usage_amount         89999 non-null  float64
 47  available_credit            89999 non-null  float64
 48  total_monthly_debt_payment  89999 non-null  float64
 49  annual_debt_payment         89999 non-null  float64
 50  loan_to_annual_income       89999 non-null  float64
 51  total_debt_amount           89999 non-null  float64
 52  monthly_free_cash_flow      89999 non-null  float64
 53  cost_of_living_index        89999 non-null  float64
 54  housing_price_index         89999 non-null  float64
 55  previous_zip_code           89999 non-null  int64
 56  regional_median_income      89999 non-null  int64
 57  regional_median_rent        89999 non-null  float64
 58  regional_unemployment_rate  89999 non-null  float64
dtypes: float64(29), int64(23), object(7)
memory usage: 40.5+ MB

In [29]:
df['employment_type'].value_counts()

employment_type
Full-time        63017
Self-employed    13436
Part-time         9007
Contractor        4539
Name: count, dtype: int64